<div class="columns">

  <div class="column is-6 is-offset-3">
    <table class="table">
      <thead>
        <tr>
          <th>Roll No.</th>
          <th>Name</th>
          <th>Semester</th>
        </tr>
        <tr *ngFor="let attendance of defaultersList">

          <td>{{attendance.student.roll_no}}</td>
          <td>{{attendance.student.first_name + ' ' + attendance.student.last_name}}</td>
          <td>{{attendance.student.semester}}</td>
        </tr>
      </thead>
    </table>

  </div>
</div>
