<div *ngIf='errorMessage' class="notification is-danger">
  <button class="delete" (click)='errorMessage=None;'></button>
  {{ errorMessage }}
</div>
<div class="box">
  <form>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Branch</label>
          <p class="control">
            <span class="select is-fullwidth">
              <select name="branch" [(ngModel)]="branch">
                <option *ngFor="let branch of branches" value='{{branch.id}}' (change)="onSelect()">{{ branch.branch_name}}</option>
              </select>
            </span>
          </p>
        </div>
        <div class="field">
          <label class="label">Semester</label>
          <p class="control">
            <span class="select is-fullwidth">
              <select name="semester" [(ngModel)]="semester" (change)="onSelect()">
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
              </select>
            </span>
          </p>
        </div>
      </div>
    </div>


  </form>

</div>
