<div class="container is-fluid" style="margin-top:64px;">
  <div class="columns">
    <div class="column is-12">
      <h1 class="title is-2 has-text-centered">Attend.ly</h1>
    </div>
  </div>
  <div class="columns">
    <div class="column is-4 is-offset-4" style="box-sizing: border-box;padding:18px;">
      <div class="box">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
          <p class="subtitle has-text-centered">Sign In</p>
          
          <div class="field">
            <p class="control has-icons-left" [ngClass]="{'has-icons-right': !loginForm.controls['username'].valid && !loginForm.controls['username'].pristine }">
              <input class="input" type="text" [ngClass]="{'is-danger': !loginForm.controls['username'].valid && !loginForm.controls['username'].pristine }" name="username" placeholder="Username" [formControl]="loginForm.controls['username']">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
              <span class="icon is-small is-right" *ngIf="!loginForm.controls['username'].valid && !loginForm.controls['username'].pristine">
                <i class="fa fa-warning"></i>
              </span>
            </p>
            <p class="help is-danger" *ngIf="!loginForm.controls['username'].valid && !loginForm.controls['username'].pristine">This username is invalid</p>
          </div>
          <div class="field">
            <p class="control has-icons-left"  [ngClass]="{'has-icons-right': !loginForm.controls['password'].valid && !loginForm.controls['password'].pristine }">
              <input class="input" type="password" [ngClass]="{'is-danger': !loginForm.controls['password'].valid && !loginForm.controls['password'].pristine}" name="password" placeholder="Password" [formControl]="loginForm.controls['password']">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
              <span class="icon is-small is-right" *ngIf="!loginForm.controls['password'].valid && !loginForm.controls['password'].pristine">
                <i class="fa fa-warning"></i>
              </span>
            </p>
            <p class="help is-danger" *ngIf="!loginForm.controls['password'].valid && !loginForm.controls['password'].pristine">Please enter a password</p>
          </div>
          <div class="field">
            <p class="control">
              <button type="submit" class="button is-success is-fullwidth" [disabled]="!loginForm.valid">
                Login
              </button>
            </p>
          </div>

          <div class="field">
            <p class="control">
              <a class="button is-fullwidth" [routerLink]="['/signup']">Sign Up</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
