<div class="container is-fluid" style="margin-top:64px;">
<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Insights</p>
          <p class="subtitle">Gain valuable insights into students data.</p>
          <p class="field">
            <a class="button is-primary is-medium" (click)="viewInsights()">Use</a>
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Compare</p>
          <p class="subtitle"></p>
        </article>
      </div>
    </div>
  </div>
</div>

</div>
