<div class="is-fluid" style="padding-top:64px;padding-bottom:98px;background:#00d1b2;">
<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Insights</p>
          <p class="subtitle">Gain valuable insights into students attendance data.</p>
          <p class="field">
            <a class="button is-primary is-medium is-fullwidth" (click)="viewInsights()">Use</a>
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Compare</p>
          <p class="subtitle">Quickly compare the data of any two students.</p>
          <p class="field">
            <a class="button is-primary is-medium is-fullwidth" (click)="viewCompare()">Use</a>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>

</div>
